{% extends 'topmenuform.html' %}

{% block submenu %}
                <ul>
                    <li class="left_menu_m">
                        <table class="left_menu_table_m">    
                            <tbody>
                                <tr>
                                    <td>
                                        <ul id="list_column_m">
                                            <li><a href="/admin/login_on?topmenu=administrator&submenu=관리자리스트">관리자리스트</a></li>
                                            <li><a href="/admin/login_on?topmenu=administrator&submenu=사이트환경설정">사이트환경설정</a></li>
                                            <li><a href="/admin/login_on?topmenu=administrator&submenu=게시판생성관리">게시판생성관리</a></li>
                                            <li><a href="/admin/login_on?topmenu=administrator&submenu=게시판그룹관리">게시판그룹관리</a></li>
                                            <li><a href="/admin/login_on?topmenu=administrator&submenu=팝업관리">팝업관리</a></li>
                                            <li><a href="/admin/login_on?topmenu=administrator&submenu=메인비쥬얼보임">메인비쥬얼[보임]</a></li>
                                            <li><a href="/admin/login_on?topmenu=administrator&submenu=메인비쥬얼숨김">메인비쥬얼[숨김]</a></li>
                                            <li><a href="/admin/login_on?topmenu=administrator&submenu=사용자관리">사용자 관리</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
{% endblock %}

{% block middlecontent %}
<div >
    <div id="modify_board_mm">
        <table border="1">
            <th>번호</th>
            <th>테이블명</th>
            <th>그룹</th>
            <th>게시판명</th>   
            <th>게시판타입</th>
            <th>수정일</th>
            <th>url</th>
            <th>읽기권한</th>
            <th>쓰기권한</th>
            <th>댓글권한</th>
            <th>수정</th>    
    
            {% set res = modifiedSub %}
            {% for item in res %}
            <form action="/admin/login_on/board_group_modified" id="modify_board_mm">
                <tr>
                    <td>{{loop.index}}</td>
                    <td><input type="text" name="tablename" value="{{res[loop.index-1].tableName}}"></td>
                    <td><input type="text" name="mainboard" value="{{res[loop.index-1].mainBoard}}"></td>
                    <td><input type="text" name="subboard" value="{{res[loop.index-1].subBoard}}"></td>
                    <td><input type="text" name="contenttype" value="{{res[loop.index-1].contentType}}"></td>
                    <td><input type="date" name="resetdate" value="{{res[loop.index-1].resetDate}}"></td>
                    <td><input type="text" name="url" value="{{res[loop.index-1].url}}"></td>
                    <td><input type="radio" name="watchaut" value=0 {{watchaut0}}><input type="radio" name="watchaut" value=1 {{watchaut1}}></td>
                    <td><input type="radio" name="writehaut" value=0 {{writeaut0}}><input type="radio" name="writeaut" value=1 {{writeaut1}}></td>
                    <td><input type="radio" name="repayaut" value=0 {{replyaut0}}><input type="radio" name="repayaut" value=1 {{replyaut1}}></td>
                    <td><input type="submit" name="modifyBoard" value="수정이여"></td>
                </tr>
            </form>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}