{% extends 'topmenu.html' %}

{% block middlecontent %}

<div id="make_community">
    <div id="community_form">
        <form action="/admin/login_on/community_write" method="POST" id="write_new" enctype="multipart/form-data">
            <label for="mainBoard">mainboard</label>
            <input type="text" name="mainBoard" value="{{modifiedres.mainBoard}}">
            <label for="subBoard">subboard</label>
            <input type="text" name="subBoard" value="{{modifiedres.subBoard}}">
            <label for="title">title</label>
            <input type="text" name="title" value="{{modifiedres.title}}">
            <label for="writer">작성자</label>
            <input type="text" name="writer" value="{{modifiedres.writer}}">
            <label for="idx">등록자</label>
            <input type="text" name="idx" value="{{modifiedres.idx}}">
            <label for="contents">contents</label>
            <textarea name="contents" id="contents" cols="30" rows="10">{{modifiedres.contents}}</textarea>
            <label for="img">첨부이미지</label>
            <input type="file" name="com_img" accept="image/*" value="{{modifiedres.img}}">
            기존이미지 <img src="http://localhost:3000/{{modifiedres.img}}"  alt="이미지" style="width: 100px; height: 100px;">
            <label for="writeaut">writeaut</label>
            <input type="text" name="writeaut" value="{{modifiedres.writeaut}}">
            <label for="readaut">readaut</label>
            <input type="text" name="readaut" value="{{modifiedres.readaut}}">
            <label for="replyaut">replyaut</label>
            <input type="text" name="replyaut" value="{{modifiedres.replyaut}}">
            <input type="text" name="idd" value="{{modifiedres.id}}" style="display: none;">
            <input type="text" name="id" value="{{id}}" style="display: none;">
            {% if modifiedres %}
            <input type="submit" name="modify" value="수정">
            {% else %}
            <input type="submit" name="neww" value="추가생성">
            {% endif %}
        </form>
       

    </div>
</div>
{% endblock %}