<div id="footer">
    <div class = "fixed_top">
        <!-- <a><img src = "https://www.sac.or.kr/design/theme/sac/images/top_btn.png"></a> -->
         <span style="color:rgb(223, 86, 86)" >
             <i class="fas fa-angle-up fa-2x"></i>
             <p>TOP</p>
         </span>
     </div>
    <div id = "footer_top">
        <div id = "footer_top_container">
            <div class = "footer_top_content1">
                <ul>
                    <li class="wd80px"><a href="/college/introduction">학교소개</a></li>
                    <li class="content_block"></li>
                    <li class="wd80px"><a href="/curriculum/curriculum">교육과정</a></li>
                    <li class="content_block"></li>
                    <li class="wd80px"><a href="/community/notice">공지사항</a></li>
                    <li class="content_block"></li>
                    <li class="wd80px"><a href="/consult/consulting">상담신청</a></li>
                    <li class="content_block"></li>
                    <li class="wd130px"><a href="#">개인정보처리방침</a></li>
                </ul>
            </div>
            <div class = "footer_top_content2">
                <a href="#"><img src="/image/footer/트위터.png" style="width: 30px; height: 30px;"></a>
                <a href="#"><img src="/image/footer/유튜브.png" style="width: 30px; height: 30px;"></a>
                <a href="#"><img src="/image/footer/인스타.png" style="width: 30px; height: 30px;"></a>
                <a href="#"><img src="/image/footer/페이스북.png" style="width: 30px; height: 30px;"></a>
                <!-- <a href="#"><img src="https://www.sac.or.kr/design/theme/sac/images/footer-icon05.gif"></a>
                <a href="#"><img src="https://www.sac.or.kr/design/theme/sac/images/footer-icon06.gif"></a>
                <a href="#"><img src="https://www.sac.or.kr/design/theme/sac/images/footer-icon07.gif"></a>
                <a href="#"><img src="https://www.sac.or.kr/design/theme/sac/images/footer-icon08.gif"></a> -->
            </div>
        </div>
    </div>
    <div id = "footer_bottom">
        <div id = "footer_bottom_container">
            <div class = "footer_bottom_content1">
                <img src = "http://www.kiweb.or.kr/images/main_new/logo_bottom_2018.png">
            </div>
            <div class = "footer_bottom_content2">
                <ul>
                    <li>서울특별시 강동구 천호대로 995 금복빌딩 3,4층 경일게임아카데미(지하철 5,8호선 1번출구 10m이내)</li>
                    <li>TEL : 02-479-4050 FAX : 02-479-4056 대표자 : 박병준 개인정보관리책임자 : 서혁준</li>
                    <li>사업자번호 : 212-81-89247 통신판매허가번호 : 제2020-서울강동-1360호</li>
                    <li>Copyright © 2016. Kyungil Technical College. All rights reserved.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<script type = "text/javascript" src="/js/footer.js"></script>