
{% extends 'topmenuform.html' %}
{% block submenu %}
                <ul>
                    <li class="left_menu_m">
                        <table class="left_menu_table_m">    
                            <tbody>
                                <tr>
                                    <td>
                                        <ul id="list_column_m">
                                            <li><a href="/admin/login_on?topmenu=administrator&submenu=관리자리스트">관리자리스트</a></li>
                                            <li><a href="/admin/login_on?topmenu=administrator&submenu=사이트환경설정">사이트환경설정</a></li>
                                            <li><a href="/admin/login_on?topmenu=administrator&submenu=게시판생성관리">게시판생성관리</a></li>
                                            <li><a href="/admin/login_on?topmenu=administrator&submenu=게시판그룹관리">게시판그룹관리</a></li>
                                            <li><a href="/admin/login_on?topmenu=administrator&submenu=팝업관리">팝업관리</a></li>
                                            <li><a href="/admin/login_on?topmenu=administrator&submenu=메인비쥬얼보임">메인비쥬얼[보임]</a></li>
                                            <li><a href="/admin/login_on?topmenu=administrator&submenu=메인비쥬얼숨김">메인비쥬얼[숨김]</a></li>
                                            <li><a href="/admin/login_on?topmenu=administrator&submenu=사용자관리">사용자 관리</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
{% endblock %}
            
            <div id="admin_list_container">
               {% block adminMenu %}
               {% endblock %}
            </div>     
        </div>    
    </div>

</body>
</html>