<div id="wrap">
    <div id="header">
        <div id = "header_logo">
            <!-- <a href="/"><img class="main_logo" src="http://www.kiweb.or.kr/images/main_new/logo_new_2018.png"></a> -->
            <!-- <a href="/"><img class="main_logo" src="../image/header/경일로고.png" style="width: 100px; height: 100px;"></a> -->
            <a href="/"><img src = "http://www.kiweb.or.kr/images/main_new/logo_bottom_2018.png"></a>
        </div>
        <div id = "header_menu">
            <ul id = "header_menu_ul" onmouseover="snbbaronFn()" onmouseover="snbbaronFn()">

            </ul>
        </div>
        
        <div id = "header_information">
            <a href="/admin">관리자 페이지로 가기</a>
            <ul>
                <li><a href="/user/login"><div class="header_login header_common_box">로그인</div></a></li>
                <li><a href="/user/join"><div class="header_join header_common_box">회원가입</div></a></li>
                <li><a href="#"><img src="/image/header/검색.png" style="width: 35px; height: 35px;"></a></li>
                <li><a href="/scheduler"><img src="/image/header/달력.png" style="width: 35px; height: 35px;"></a></li>
                <!-- <li><a href="#"><img src="https://www.sac.or.kr/design/theme/sac/images/sitemap-btn.gif"></a></li> -->
            </ul>
        </div>
    </div>
    <div id = "header_snb_bar" onmouseover="snbbaronFn()" onmouseout="snbbaroutFn()">
        <div id = "snb_bar_image">
            <img src="http://www.kiweb.or.kr/images/common/snb_img.png">
        </div>
        <div id = "snb_bar_area">
        </div>
    </div>
    <script type = "text/javascript" src="/js/header.js"></script>