<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
video{
    position: relative;
    z-index: 900;
}
    </style>


</head>

<body>
    

    <video muted autoplay width="100%" controls id="play">

        <source src="로고.mp4" type="video/mp4">

        <source src="로고.ogg" type="video/ogg">


    </video>

    <!-- <script>
        var elem = document.getElementById("myvideo");
        function openFullscreen() {
            if (elem.requestFullscreen) {
                elem.requestFullscreen();
            } else if (elem.mozRequestFullScreen) { /* Firefox */
                elem.mozRequestFullScreen();
            } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
                elem.webkitRequestFullscreen();
            } else if (elem.msRequestFullscreen) { /* IE/Edge */
                elem.msRequestFullscreen();
            }
        }
    </script> -->
</body>

</html>