{% extends 'topmenuform.html' %}

    {% block topmenu %}
    <div><p>{{topmenu}}LIST</p></div>
    {% endblock %}

{% block submenu %}
                <ul>
                    <li class="left_menu_m">
                        <table class="left_menu_table_m">    
                            <tbody>
                                <tr>
                                    <td>
                                        <ul id="list_column_m">
                                            {% set res = subboard %}
                                            {% for item in res %}
                                            <li><a href="/admin/login_on?topmenu={{res[loop.index-1].mainBoard}}&submenu={{res[loop.index-1].subBoard}}">{{res[loop.index-1].subBoard}}</a></li>
                                            {% endfor %}   
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                </ul>
{% endblock %}


{% block maincontent %}
{% if subboard.mainBoard == '시설소개' %}
    <a href="/admin/login_on/image"><input type="button" value="이미지추가"></a>
    <form action="" method="POST" enctype="multipart/form-data">
        <div id="faclity_image">
            {% set items = result %}
            {% for item in items %}
            <div><img src="http://localhost:3000/{{items.image}}" alt="슬라이드이미지" style="width: 300px; height: 300px;"></div>
            {% endfor %}
        </div>        
    </form>
    {% set res = subboard %}
    {% for item in res %}
    <li><a href="">{{res[loop.index-1].contentType}}</a></li>
    {% endfor %}
{% else %}
    {% set res = onesubboard %}
    {% for item in res %}
        {{ res[loop.index-1].subBoard }}
    {% endfor %}    
{% endif %}    
{% endblock %}