{% extends 'topmenu.html' %}
{% block middlecontent %}
<style>
    #window-info [id^="w-i-"] {
      color: #ff80ab;
    }
  </style>
  
  <form action="/admin/login_on/visitor_info" method="POST" id="submitform" name="form_submit">
  <div id="window-info">
      <input type="date" name="date">
      <input type="text" id="w-i-href" name="currentURL" style="display: none;">
      <input type="text" id="w-i-referrer" name="exURL" style="display: none;">
      <input type="text" id="w-i-userAgent" name="userAgent" style="display: none;">
      <input type="text" id="w-i-language" name="userLanguage" style="display: none;">
      <input type="text" id="w-i-width" name="webwidth" style="display: none;">
      <input type="text" id="w-i-height" name="webHeight" style="display: none;">
     <input type="submit" value="제출" >
  
  </div>
</form>
  
  <script>
    
    
    document.getElementById('w-i-href').value = window.location.href;
    document.getElementById('w-i-referrer').value = window.document.referrer;
    document.getElementById('w-i-userAgent').value = window.navigator.userAgent;
    document.getElementById('w-i-language').value = window.navigator.language;
    document.getElementById('w-i-width').value = window.screen.width;
    document.getElementById('w-i-height').value = window.screen.height;

  
  
  </script>
{% endblock %}