<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/user/login.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    {% include "header.html" %}
        <div id ="login_container">
            <div id="login_content">
                <ul>
                    <li><img src="http://www.kiweb.or.kr/images/main_new/logo_bottom_2018.png"></li>
                    <li>
                        <form class="login_form" action="/user/login" method="GET">
                            <ul>
                                <li>
                                    <input type="userid" placeholder="아이디를 입력하세요" name="userid" required>
                                </li>
                                <li>
                                    <input type="password" placeholder="비밀번호를 입력하세요" name="psw" required>
                                </li>
                                <li><input type = "submit" class="login_submit" value = "Sign in"></li>
                            </ul>
                        </form>
                    </li>
                    <li>
                        <ul class = "login_ul">
                            <li><a href="#">Forgot password?</a></li>
                            <li>New to Linkedin?    <a href="#">Join now</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    {% include "footer.html" %}
</body>
</html>