<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/curriculum/curriculum.css">
    <link rel="stylesheet" href="/css/middle.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    
    {% include "header.html" %}
    {% include "middle.html" %}
                    
                </div>
            </div>
        </div>
    </div>
    <script type = "text/javascript">     
        
        
        
    let data = [{CourseName: "{{curriculumres[0].courseName}}", startDate:"{{curriculumres[0].startDate}}", endDate:"{{curriculumres[0].endDate}}", time:"09:00~18:00", extrapay:"{{curriculumres[0].support}}",tag:"{{curriculumres[0].tag}}",
            img:"http://localhost:3000/{{curriculumres[0].img}}", hit:"0", registrationDate:"2020-05-05", onoff:"{{curriculumres[0].onoff}}", currentDate:"2020-03-03"}, {CourseName: "{{curriculumres[1].courseName}}", startDate:"{{curriculumres[1].startDate}}", endDate:"{{curriculumres[1].endDate}}", time:"09:00~18:00", extrapay:"{{curriculumres[1].support}}",tag:"{{curriculumres[1].tag}}",
            img:"http://localhost:3000/{{curriculumres[1].img}}", hit:"0", registrationDate:"2020-05-05", onoff:"{{curriculumres[1].onoff}}", currentDate:"2020-03-03"},{CourseName: "{{curriculumres[2].courseName}}", startDate:"{{curriculumres[2].startDate}}", endDate:"{{curriculumres[2].endDate}}", time:"09:00~18:00", extrapay:"{{curriculumres[2].support}}",tag:"{{curriculumres[2].tag}}",
            img:"http://localhost:3000/{{curriculumres[2].img}}", hit:"0", registrationDate:"2020-05-05", onoff:"{{curriculumres[2].onoff}}", currentDate:"2020-03-03"},{CourseName: "{{curriculumres[3].courseName}}", startDate:"{{curriculumres[3].startDate}}", endDate:"{{curriculumres[3].endDate}}", time:"09:00~18:00", extrapay:"{{curriculumres[3].support}}",tag:"{{curriculumres[3].tag}}",
            img:"http://localhost:3000/{{curriculumres[3].img}}", hit:"0", registrationDate:"2020-05-05", onoff:"{{curriculumres[3].onoff}}", currentDate:"2020-03-03"},{CourseName: "{{curriculumres[4].courseName}}", startDate:"{{curriculumres[4].startDate}}", endDate:"{{curriculumres[4].endDate}}", time:"09:00~18:00", extrapay:"{{curriculumres[4].support}}",tag:"{{curriculumres[4].tag}}",
            img:"http://localhost:3000/{{curriculumres[4].img}}", hit:"0", registrationDate:"2020-05-05", onoff:"{{curriculumres[4].onoff}}", currentDate:"2020-03-03"},]
        
const board = document.querySelector('.middle_right_bottom')
const href = location.href
queryString = href.split('?')[1]


if(queryString==undefined){
    data.forEach((v,index)=>{

        let crclList = document.createElement('div')
        let title = document.createElement('h4')
        let crclImg = document.createElement('div')
        let Img = document.createElement('img')
        let crclCon = document.createElement('div')
        let li_duration = document.createElement('li')
        let li_time = document.createElement('li')
        let li_pay = document.createElement('li')
        let ul_content = document.createElement('ul')
        let ul_tag = document.createElement('ul')
        let button_area = document.createElement('div')
        let btn_blue = document.createElement('a')
        let btn_white = document.createElement('a')
        
        crclList.className = "crcl_list"
        crclImg.className = "crcl_img"
        crclCon.className = "crcl_con"
        title.className = "main_title"
        ul_tag.className = "ul_tag"
        button_area.className = "button_area"
        btn_blue.className = "btn_blue"
        btn_white.className = "btn_white"

        title.innerHTML = v.CourseName
        title_clone = title.cloneNode(true)
        title_clone.className = "sub_title"

        btn_blue.innerHTML = "지원하기"
        btn_blue.addEventListener('click',()=>{
            window.location.href = "http://localhost:3000/consult/apply"
        })
        btn_white.innerHTML = "과정자세히보기"
        btn_blue.href = "/consult/apply"
        btn_white.href = `/curriculum/curriculum?mode=${index}`
        
        Img.src = v.img

        li_duration.innerHTML = `교육기간 ${v.startDate} ~ ${v.endDate}`
        li_time.innerHTML = `교육시간 ${v.time}`
        li_pay.innerHTML = `교육수당 ${v.extrapay}`

        ul_content.appendChild(li_duration)
        ul_content.appendChild(li_time)
        ul_content.appendChild(li_pay)

        let taglist = v.tag.replace(/ /gi,"").split('#')
        for(i=1;i<taglist.length;i++){
            let tags = document.createElement('li')
            let a = document.createElement('a')
            a.href = "#"
            a.innerHTML = `#${taglist[i]}`
            tags.appendChild(a)
            ul_tag.appendChild(tags)
        }
        
        button_area.appendChild(btn_blue)
        button_area.appendChild(btn_white)
        crclCon.appendChild(title_clone)
        crclCon.appendChild(ul_content)
        crclCon.appendChild(ul_tag)
        crclCon.appendChild(button_area)
        crclImg.appendChild(Img)
        crclList.appendChild(title)
        crclList.appendChild(crclImg)
        crclList.appendChild(crclCon)
        board.appendChild(crclList)
    })
    
}else{
    let result = data[queryString.split('=')[1]]

   
    let table = document.createElement('table')
    let title_tr = document.createElement('tr')
    let sub_tr = document.createElement('tr')
    let title_th = document.createElement('th')
    let title_td = document.createElement('td')
    let regtitle = document.createElement('th')
    let regdate = document.createElement('td')
    let hittitle = document.createElement('th')
    let hit = document.createElement('td')
    //let imgg = document.createElement('img')-

    table.className = "table"
    title_th.className = "title_th"
    title_td.className = "title_td"
    regtitle.className = "regtitle"
    regdate.className = "regdate"
    hittitle.className = "hittitle"
    hit.className = "hit"
    title_tr.className = "title_tr"
    sub_tr.className = "sub_tr"
    
        
    
    
    title_th.innerHTML = "제목"
    title_td.innerHTML ="{{curriculumres[0].courseName}}";
    regtitle.innerHTML = "등록일"
    regdate.innerHTML = "{{curriculumres[0].startDate}}"
    hittitle.innerHTML = "조회수"
    hit.innerHTML = "{{curriculumres[0].count}}"

    title_tr.appendChild(title_th)
    title_tr.appendChild(title_td)
    sub_tr.appendChild(regtitle)
    sub_tr.appendChild(regdate)
    sub_tr.appendChild(hittitle)
    sub_tr.appendChild(hit)


    table.appendChild(title_tr)
    table.appendChild(sub_tr)
    board.appendChild(table)
    
}
    
    </script>
    {% include "footer.html" %}
    
</body>
</html>