#user_list_container{
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
#user_add_container{
    width: 998px;
    border-top: 2px solid #b3daff;
    border-bottom: 2px solid #b3daff;
    margin-bottom: 20px;
}
#user_add_container>form{
    padding: 10px;
}
#user_add_container>form>div{
    width:400px;
    padding: 10px;
    display: inline-flex;
    flex-direction: row;
    font-size: 15px;
}
#user_add_container label{
    width: 70px;
}
#user_table_form td{
    width: 20px;
}
#admin_list_siteset{
    width: 1200px;
    height: 800px;
}
#admin_list_siteset p{
    margin-top: 10px;
}
#admin_list_siteset label{
    width: 110px;
    height: 40px;
}
#board_ground_manage{
    margin-top: 20px;
    width: 1200px;
}
#board_ground_manage>div>table{
    margin-top: 20px;
    width: 1198px;    
}
#modify_board_mm>table{
    width: 1200px;
}   
#modify_board_mm input{
    border: 0px solid;
}
#modify_board_mm th:nth-child(1){
    width: 40px;
}
#modify_board_mm input:nth-child(1){
    width: 80px;
}