body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}


#top_m{
    display: flex;
    justify-content: center;
}
#top_contents_container{
    width: 100%;
    margin-top: 20px;
    padding-top: 15px;
    height: 50px;
    background-color: #e6f2ff;
    display: flex;
    flex-direction: row;
}
#logo{
    display: flex;
    color:#48486a;
    font-weight: 600;
    justify-content: center;
    width:400px;
}
#top_m>div>ul{
    width: 1920px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
}
#top_m>div>ul>li {
    box-sizing: border-box;
    margin-right: 30px;
    padding-right: 30px;
    font-size: 17px;
    font-weight: 600;
}
#top_m>div>ul>li>a{
    text-decoration: none;
    color:#48486a;
}
#top_m>div>ul>li:hover{
    font-size: 19px;
    color:#535379;
}
#contents_m{
    width: 1200px;
    display: flex;
    flex-direction: row;
}
.manager_mode_m>ul{
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: #e6f3ff;
    justify-content: space-around;
    border: 2px solid #b3daff;
}
.manager_mode_m>p>a{
    padding-top: 5px;
    margin-top: 5px;
    color:#48486a;
    font-size: 13px;
    font-weight: 600;

}
.left_menu_m{
    margin-top: 30px;
    background-color:#e6f3ff ;
    border: 2px solid #b3daff;
 
}
.left_menu_m>table>thead>tr>th{
    padding-left: 70px;
}
#list_column_m{
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#main_container_top_m fieldset{
    margin-bottom: 40px;
}
#main_container_m{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#adminlistBtn_m input{
    margin-left: 100px;
    margin-top: 27px;
}
#main_container_main_m form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
    box-sizing: border-box;
    border-top:2px solid #b3daff;
}
#searched_form div, #admin_add_form>div{
    width: 220px;
    padding: 10px;
}

#searched_form > div > input {
    border:0px solid;
}
#main_content_container_f{
    margin:30px;
    width:1200px;
    height:700px;
    border: 2px solid #b3daff;
    display: flex;
    flex-direction: column;
}
#write_new{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border:1px solid #b3daff;
    width: 1200px;
    height: 800px;
}
#community_show_m{
    display: flex;
    flex-direction: column;
}
#make_community{
    margin-top: 30px;
    width: 100%;
    height: 1200px;
    box-sizing: border-box;
}
#course_write_css label{
    border: 1px solid #b3daff;;
    width:100px;
    text-align: center;
}
#course_write_css input{
    width: 230px;
}
#main_visual_mm > form{
    width: 1200px;
}
#main_visual_mm label {
    margin-bottom: 20px;
}
#main_visual_mm input{
    margin-bottom: 20px;
}
#facility_form_m div{
    width:100%;
    display: inline-block;
    flex-direction: column;
}
#board_make_admin{
    width: 1200px;
}
#top1{
    width:100%;
    display: flex;
    flex-direction: column;
}
#top{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}