<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/middle.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/college/interior.css">
</head>
<body>
    
    {% include "header.html" %}
    {% include "middle.html" %}
                    <div id = "galleria">
                        <div id = "galleria_main">
                        </div>
                        <ul id = "galleria-container">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/college/interior.js"></script>
    {% include "footer.html" %}
    
    
    
</body>
</html>