<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/middle.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    
    {% include "header.html" %}
    {% include "middle.html" %}
                    <img src="http://www.kiweb.or.kr/images/college/img_03_01.jpg">
                    <ul style="margin-top: 20px;">
                        <li>
                            <img src="http://localhost:3000/{{teacherinfo[0].image}}">
                        </li>
                        <li>
                            <img src="http://localhost:3000/{{teacherinfo[1].image}}">
                        </li>
                        <li>
                            <img src="http://localhost:3000/{{teacherinfo[2].image}}">
                        </li>
                        <li>
                            <img src="http://localhost:3000/{{teacherinfo[3].image}}">
                        </li>
                        <li>
                            <img src="http://localhost:3000/{{teacherinfo[4].image}}">
                        </li>
                        <li>
                            <img src="http://localhost:3000/{{teacherinfo[5].image}}">
                        </li>
                        <li>
                            <img src="http://localhost:3000/{{teacherinfo[6].image}}">
                        </li>
                        <li>
                            <img src="http://localhost:3000/{{teacherinfo[7].image}}">
                        </li>
                        <li>
                            <img src="http://localhost:3000/{{teacherinfo[8].image}}">
                        </li>
                        <li>
                            <img src="http://localhost:3000/{{teacherinfo[9].image}}">
                        </li>
                        <li>
                            <img src="http://localhost:3000/{{teacherinfo[10].image}}">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
    
</body>
</html>